{% extends 'main/base.html' %}

{% block title %}
    Тесты
{% endblock %}

{% block content %}
    <div class="home">
        <h1>Доступные тесты</h1>
        {% if tests %}
            {% for el in tests%}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <h4>Темы: {{ el.themes }}</h4>
                    <br>
                    <a href="{% url 'task-detail' el.id %}" class="btn btn-warning"> Пройти тест </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Нет тестов</p>
        {% endif %}
    </div>
{% endblock %}
